@charset "UTF-8";

/*import front-family and font-size*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

/*set front-family for all in HTML*/
* {
    font-family: 'Roboto', sans-serif;
}

/*body tag part style*/
body {
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*set for h3 tag (heading) font size*/
h3 {
    font-size: 30px;
}

/*set for div tag part style*/
div {
    /*set cursor as context-menu*/
    cursor: context-menu;
}

/*set for class="content_container" part style*/
.content_container {
    background-image: url(../images/bg01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0px bottom 0px;
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
}

/*set for class="container" part style*/
.container {
    width: 500px;
    max-width: 500px;
    height: 300px;
    margin: auto;
    padding: 2rem; /*2rem=32px*/
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: white;
    text-align: center;
}

/*set for div tag class="content" part margin top as 15px*/
div.content {
    margin-top: 15px;
}

/*set for p tag (paragraph) class="text" part margin top as 50px*/
p.text {
    margin-top: 50px;
}

/*set for p tag (paragraph) class="success_" part front-size as 24px and margin top as 15px*/
p.success_signup {
    font-size: 24px;
    margin-top: 40px;
}

/*set for p tag (paragraph) part margin top as 100px*/
p {
    /*to set margin top as 55px*/
    margin-top: 100px;

}

/*set for p tag (paragraph) class="link_login" part to set margin top as 100px*/
p.link_login {
    margin-top: 35px;
}

/*set for class="link" part style*/
.link {
    color: #252c6a;
    text-decoration: none;
    cursor: pointer;
}

/*set for class="link" part to change the colour when cursor touched*/
.link:hover {
    color: rgba(35, 89, 207, 0.938);
}